<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.base.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.esmooc.legion.base.entity.City">
        <!--@mbg.generated-->
        <!--@Table t_city-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="light_path" jdbcType="VARCHAR" property="lightPath"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="parent_area_code" jdbcType="VARCHAR" property="parentAreaCode"/>
        <result column="area_light_path" jdbcType="VARCHAR" property="areaLightPath"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="area_name_division" jdbcType="VARCHAR" property="areaNameDivision"/>
        <result column="all_name" jdbcType="VARCHAR" property="allName"/>
        <result column="all_name_division" jdbcType="VARCHAR" property="allNameDivision"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="levelvalue" jdbcType="BIGINT" property="levelvalue"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="xzqhlb" jdbcType="INTEGER" property="xzqhlb"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, parent_id, light_path, area_code, parent_area_code, area_light_path, area_name,
        area_name_division, all_name, all_name_division, lat, lng, `level`, levelvalue, sort,
        xzqhlb
    </sql>
</mapper>
