<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.core.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.core.entity.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="pass_strength" jdbcType="VARCHAR" property="passStrength" />
    <result column="department_title" jdbcType="VARCHAR" property="departmentTitle" />
    <result column="birth" jdbcType="TIMESTAMP" property="birth" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_by, create_time, update_by, update_time, address, avatar, description, 
    email, mobile, nickname, `password`, sex, `status`, `type`, username, del_flag, department_id, 
    street, pass_strength, department_title, birth
  </sql>
</mapper>
