HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Others
*.log
logs/
*.log.gz
*.xml.versionsBackup
/legion-core/src/main/java/com/esmooc/legion/core/common/sms/AliSms.java
/legion-core/src/main/java/com/esmooc/legion/core/common/sms/SmsUtil.java
/legion-core/src/main/java/com/esmooc/legion/core/common/utils/JasyptUtil.java
/legion-core/src/main/java/com/esmooc/legion/core/dao/elasticsearch/EsLogDao.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/elasticsearch/EsLogServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/mybatis/IPermissionServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/mybatis/IUserRoleServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/MemberServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/MessageServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/RoleDepartmentServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/SettingServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/StopWordServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/UserRoleServiceImpl.java
/legion-core/src/main/java/com/esmooc/legion/core/serviceimpl/UserServiceImpl.java
/legion-modules/legion-app/src/main/java/com/esmooc/legion/app/controller/admin/MemberAdminController.java
/legion-modules/legion-app/src/main/resources/rebel.xml
/legion-modules/legion-app/pom.xml
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/controller/AutoChatController.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/dao/AutoChatDao.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/service/AutoChatService.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/serviceimpl/AutoChatServiceImpl.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/vo/ArrayVo.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/vo/AssociateVo.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/vo/CardVo.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/vo/GuessVo.java
/legion-modules/legion-autochat/src/main/java/com/esmooc/legion/autochat/vo/PromotionVo.java
/legion-modules/legion-autochat/src/main/resources/static/chat/img/bg.jpg
/legion-modules/legion-autochat/src/main/resources/static/chat/js/sdk@0.1.2/sdk.js
/legion-modules/legion-autochat/src/main/resources/static/chat/chat.html
/legion-modules/legion-base/src/main/java/com/esmooc/legion/base/serviceimpl/DictDataServiceImpl.java
/legion-modules/legion-file/src/main/java/com/esmooc/legion/file/manage/impl/TencentFileManage.java
/legion-modules/legion-open/src/main/java/com/esmooc/legion/open/serviceimpl/ClientServiceImpl.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/controller/GithubController.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/controller/WeiboController.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/entity/Social.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/vo/AccessToken.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/vo/DingdingUserInfo.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/vo/GithubUserInfo.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/vo/RelateUserInfo.java
/legion-modules/legion-social/src/main/java/com/esmooc/legion/social/vo/WokWechatUserInfo.java
/legion-modules/legion-social/src/main/resources/rebel.xml
/legion-modules/legion-social/pom.xml
