<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.open.mapper.AnnouncementMapper">
    <resultMap type="com.esmooc.legion.open.entity.Announcement" id="BizAnnouncementResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
    </resultMap>

    <sql id="selectBizAnnouncementVo">
        select id, title, content, create_time, create_by
        from edu_announcement
    </sql>

    <select id="selectBizAnnouncementList" parameterType="com.esmooc.legion.open.entity.Announcement"
            resultMap="BizAnnouncementResult">
        <include refid="selectBizAnnouncementVo"/>
        <where>
            <if test="title != null  and title != ''">
                and title like concat('%', #{title},'%')
            </if>
            <if test="content != null  and content != ''">
                and content = #{content}
            </if>
        </where>
        order by
        create_time
        desc
    </select>

    <select id="selectBizAnnouncementById" parameterType="String" resultMap="BizAnnouncementResult">
        <include refid="selectBizAnnouncementVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizAnnouncement" parameterType="com.esmooc.legion.open.entity.Announcement">
        insert into edu_announcement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
        </trim>
    </insert>

    <update id="updateBizAnnouncement" parameterType="com.esmooc.legion.open.entity.Announcement">
        update edu_announcement
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizAnnouncementById" parameterType="String">
        delete from edu_announcement where id = #{id}
    </delete>

    <delete id="deleteBizAnnouncementByIds" parameterType="String">
        delete from edu_announcement where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertBizAnnouncementUser">
        insert into
        edu_announcement_user
        set
        id = #{id},
        announcement_id = #{aid},
        user_id = #{uid}
    </insert>

    <select id="selectReleaseScopeById" resultType="string">
        select
        group_concat(user_id)
        from
        edu_announcement_user
        where
        announcement_id = #{id}
    </select>

    <delete id="deleteReleaseScopeById">
        delete from
        edu_announcement_user
        where
        announcement_id = #{id}
    </delete>

    <select id="selectUserList" resultType="com.esmooc.legion.open.entity.Announcement">
        select
        ba.id,
        ba.title,
        ba.content,
        ba.create_time as 'createTime'
        from
        edu_announcement ba
        left join
        edu_announcement_user bau
        on
        ba.id = bau.announcement_id
        where
        1 = 1
        <if test="userId != null and userId != ''">
            and
            bau.user_id = #{userId}
        </if>
        order by
        ba.create_time
        desc
        limit 6
    </select>
</mapper>
