<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.edu.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.esmooc.legion.edu.entity.Course">
        <!--@mbg.generated-->
        <!--@Table edu_course-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="course_title" jdbcType="VARCHAR" property="courseTitle"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="speciality" jdbcType="VARCHAR" property="speciality"/>
        <result column="period" jdbcType="FLOAT" property="period"/>
        <result column="learning_scope" jdbcType="VARCHAR" property="learningScope"/>
        <result column="course_type" jdbcType="INTEGER" property="courseType"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result column="exam_issue" jdbcType="INTEGER" property="examIssue"/>
        <result column="exam" jdbcType="INTEGER" property="exam"/>
        <result column="audit" jdbcType="INTEGER" property="audit"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, course_title, subject, speciality, period, learning_scope, course_type, create_by,
        create_time, update_by, update_time, del_flag, exam_issue, exam, `audit`
    </sql>


    <sql id="selectCourseVo">
        SELECT DISTINCT c.id,
                        c.course_title,
                        c.`subject`,
                        c.speciality,
                        c.exam,
                        round(c.period, 1)                              AS period,
                        c.learning_scope,
                        c.course_type,
                        u.nickname                                      AS create_by,
                        c.create_time,
                        ur.nickname                                    AS update_by,
                        c.update_time,
                        c.del_flag,
                        IF
                                (eqb.clazz_id IS NULL, 0, 1)            AS questionBank,
                        IF
                                (c.exam_issue IS NULL, 0, c.exam_issue) AS questions
        FROM edu_course c
                     LEFT JOIN legion.t_user u ON u.id = c.create_by
                     LEFT JOIN legion.t_user ur ON ur.id = c.update_by
                     LEFT JOIN edu_exam_question_bank eqb ON eqb.clazz_id = c.id
                     LEFT JOIN edu_exam_paper_rules eqr ON eqr.clazz_id = c.id
    </sql>


    <select id="selectBizCourseList" parameterType="com.esmooc.legion.edu.entity.Course" resultMap="BaseResultMap">
        <include refid="selectCourseVo"/>
        <where>
            <if test="courseTitle != null  and courseTitle != ''">
                and course_title like concat('%', #{courseTitle}, '%')
            </if>
            <if test="subject != null  and subject != ''">
                and
                <foreach collection="subject.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                            '${item}',
                            c.`subject`)
                </foreach>
            </if>
            <if test="speciality != null  and speciality != ''">
                and
                <foreach collection="speciality.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    c.speciality)
                </foreach>
            </if>
            <if test="period != null">
                and period = #{period}
            </if>
            <if test="learningScope != null  and learningScope != ''">
                and
                <foreach collection="learningScope.split(',')" item="item" index="index" open="(" separator="or"
                         close=")">
                    FIND_IN_SET(
                    '${item}',
                    c.learning_scope)
                </foreach>
            </if>
            <if test="courseType != null  and courseType != ''">
                and course_type = #{courseType}
            </if>
            <if test="delFlag != null  and delFlag != ''">
                and c.del_flag = #{delFlag}
            </if>

            <if test="questionBank != null">
                and IF
                            (eqb.clazz_id IS NULL, 0, 1) = #{questionBank}
            </if>
            <if test="questions != null">
                and IF
                            (c.exam_issue IS NULL, 0, c.exam_issue) = #{questions}
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="selectBizCourseVOList" parameterType="com.esmooc.legion.edu.entity.Course" resultMap="BaseResultMap">
        <include refid="selectCourseVo"/>
        <where>
            <if test="course.courseTitle != null  and course.courseTitle != ''">
                and course_title like concat('%', #{course.courseTitle}, '%')
            </if>
            <if test="course.subject != null  and course.subject != ''">
                and
                <foreach collection="course.subject.split(',')" item="item" index="index" open="(" separator="or"
                         close=")">
                    FIND_IN_SET(
                            '${item}',
                    c.`subject`)
                </foreach>
            </if>
            <if test="course.speciality != null  and course.speciality != ''">
                and
                <foreach collection="course.speciality.split(',')" item="item" index="index" open="(" separator="or"
                         close=")">
                    FIND_IN_SET(
                    '${item}',
                    c.speciality)
                </foreach>
            </if>
            <if test="course.period != null">
                and period = #{course.period}
            </if>
            <if test="course.learningScope != null  and course.learningScope != ''">
                and
                <foreach collection="course.learningScope.split(',')" item="item" index="index" open="(" separator="or"
                         close=")">
                    FIND_IN_SET(
                            '${item}',
                            c.learning_scope)
                </foreach>
            </if>
            <if test="course.courseType != null  and course.courseType != ''">
                and course_type = #{course.courseType}
            </if>
            <if test="course.audit != null  and course.audit != ''">
                and c.audit = #{course.audit}
            </if>
            <if test="course.questionBank != null  and course.questionBank != ''">
                and
                <foreach collection="course.questionBank.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET( '${item}', IF (eqb.clazz_id IS NULL, 0, 1))
                </foreach>
            </if>
            <if test="course.questions != null  and course.questions != ''">
                and
                <foreach collection="course.questions.split(',')" item="item" index="index" open="(" separator="or"  close=")">
                    FIND_IN_SET( '${item}',  IF   ( c.exam_issue IS NULL, 0, c.exam_issue ))
                </foreach>
            </if>
        </where>
        ORDER BY update_time DESC
    </select>


    <select id="stuVideoCourseList" resultType="com.esmooc.legion.edu.entity.vo.StuVideoCourseVO">
        SELECT
        DISTINCT u.id_card AS idCard,
        c.id,
        c.course_title AS courseTitle,
        u.id AS userId,
        u.nickname AS userName,
        u.sex,
        u.mobile,
        a1.area_name_division AS division,
        u.department_title AS deptName,
        ( SELECT MIN( start_time ) FROM edu_learning_record_file WHERE course_id = blrf.course_id AND user_id =
        blrf.user_id ) AS time,
        blr.study_type AS studyType,
        IF
        (
        ( SELECT grade FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1 ORDER BY
        create_time DESC LIMIT 1 ) IS NULL,
        -1,
        0
        ) AS test,
        round( ( SELECT grade FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1 ORDER BY
        create_time DESC LIMIT 1 ), 2 ) AS grade,
        IF
        (
        ( SELECT is_pass FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1 ORDER BY
        create_time DESC LIMIT 1 ) IS NULL,
        0,
        ( SELECT is_pass FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1 ORDER BY
        create_time DESC LIMIT 1 )
        ) AS isPass,
        IF
        (
        ( SELECT id FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1 ORDER BY create_time
        DESC LIMIT 1 ) IS NULL,
        '',
        ( SELECT id FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1 ORDER BY create_time
        DESC LIMIT 1 )
        ) AS examId
        FROM
        edu_course c
        LEFT JOIN edu_learning_record blr ON blr.course_id = c.id
        LEFT JOIN edu_learning_record_file blrf ON blrf.course_id = c.id
        AND blrf.course_id = blr.course_id
        AND blr.user_id = blrf.user_id
        LEFT JOIN legion.t_user u ON u.id = blr.user_id
        LEFT JOIN legion.t_city a1 ON a1.light_path = u.address_ids
        <where>
            <if test="stuVideoCourse.userType != null  and stuVideoCourse.userType != ''">
                u.type = #{stuVideoCourse.userType}
            </if>

            <if test="stuVideoCourse.studyType != null  and stuVideoCourse.studyType != ''">
                and blr.study_type = #{stuVideoCourse.studyType}
            </if>
            <if test="stuVideoCourse.courseTitle != null  and stuVideoCourse.courseTitle != ''">
                and c.course_title like concat('%', #{stuVideoCourse.courseTitle}, '%')
            </if>
            <if test="stuVideoCourse.courseType != null  and stuVideoCourse.courseType != ''">
                and c.course_type = #{stuVideoCourse.courseType}
            </if>
            <if test="stuVideoCourse.id != null  and stuVideoCourse.id != ''">
                and c.id = #{stuVideoCourse.id}
            </if>
            <if test="stuVideoCourse.userName != null  and stuVideoCourse.userName != ''">
                and u.nickname like concat('%', #{stuVideoCourse.userName}, '%')
            </if>
            <if test="stuVideoCourse.province != null and stuVideoCourse.province != ''">
                AND u.address_ids = #{stuVideoCourse.province}
            </if>
            <if test="stuVideoCourse.test != null  and stuVideoCourse.test != ''">
                and
                <foreach collection="stuVideoCourse.test.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    IF
                    (
                    ( SELECT grade FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1 ORDER
                    BY create_time DESC LIMIT 1 ) IS NULL,
                    -1,
                    0
                    ))
                </foreach>
            </if>
            <if test="stuVideoCourse.isPass != null  and stuVideoCourse.isPass != ''">
                and
                <foreach collection="stuVideoCourse.isPass.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    IF
                    (
                    ( SELECT is_pass FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1
                    ORDER BY create_time DESC LIMIT 1 ) IS NULL,
                    -1,
                    ( SELECT is_pass FROM edu_exam_paper WHERE clazz_id = c.id AND user_id = u.id AND type = 1
                    ORDER BY create_time DESC LIMIT 1 )
                    ))
                </foreach>
            </if>
        </where>
        ORDER BY `time` DESC
    </select>

    <select id="stuPdfCourseList" resultType="com.esmooc.legion.edu.entity.vo.StuPdfCourseVO">
        SELECT DISTINCT
        u.id_card AS idCard,
        c.id,
        c.course_title AS courseTitle,
        u.id AS userId,
        u.nickname AS userName,
        u.sex,
        u.mobile,
        a1.area_name AS division,
        u.department_title AS deptName,
        ( SELECT MIN( start_time ) FROM edu_learning_record_file WHERE course_id = blrf.course_id AND user_id =
        blrf.user_id ) AS time,
        ( SELECT `time` FROM edu_learning_record_file WHERE course_id = blrf.course_id AND user_id = blrf.user_id LIMIT
        1 ) AS pdfTime,
        blr.study_type AS studyType
        FROM
        edu_course c
        LEFT JOIN edu_learning_record blr ON blr.course_id = c.id
        LEFT JOIN edu_learning_record_file blrf ON blrf.course_id = c.id
        AND blrf.course_id = blr.course_id
        AND blr.user_id = blrf.user_id
        LEFT JOIN legion.t_user u ON u.id = blr.user_id
        LEFT JOIN legion.t_city a1 ON a1.id = u.address_ids
        <where>
            u.type = concat('0', #{stuPdfCourse.userType}) and blr.study_type = 2
            <if test="stuPdfCourse.courseType != null  and stuPdfCourse.courseType != ''">
                and c.course_type = #{stuPdfCourse.courseType}
            </if>
            <if test="stuPdfCourse.id != null  and stuPdfCourse.id != ''">
                and c.id = #{stuPdfCourse.id}
            </if>
            <if test="stuPdfCourse.userName != null  and stuPdfCourse.userName != ''">
                and u.username like concat('%', #{stuPdfCourse.userName}, '%')
            </if>
            <if test="stuPdfCourse.province != null and stuPdfCourse.province != ''">
                AND u.address_ids = #{stuPdfCourse.province}
            </if>

            <if test="stuPdfCourse.deptName != null and stuPdfCourse.deptName != ''">
                AND u.department_title like concat('%', #{stuPdfCourse.deptName}, '%')
            </if>
            <if test="stuPdfCourse.courseTitle != null and stuPdfCourse.courseTitle != ''">
                AND c.course_title like concat('%', #{stuPdfCourse.courseTitle}, '%')
            </if>
        </where>
        ORDER BY `time` DESC
    </select>

    <select id="selectBizCourseIds1" resultType="java.lang.String" parameterType="list">
        SELECT
        id
        FROM
        edu_course
        <where>
            FIND_IN_SET(
            '1',
            learning_scope)

            <if test="ids != null  and ids != '' and ids.size > 0">
                and id not in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectBizCourseIds2" resultType="java.lang.String" parameterType="list">
        SELECT
        id
        FROM
        edu_course
        <where>
            <if test="ids != null  and ids != '' and ids.size > 0">
                and id not in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectHomeStatistics" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT lr.user_id )
        FROM
        edu_course c
        LEFT JOIN edu_learning_record lr ON c.id = lr.course_id
        LEFT JOIN legion.t_user u ON u.id = lr.user_id
        LEFT JOIN legion.t_user_role ur ON u.id = ur.user_id
        LEFT JOIN legion.t_role r ON r.id = ur.role_id
        WHERE
        lr.study_type = 2
        AND r.id = #{roleId}
        AND FIND_IN_SET(
        #{learningScope},
        c.learning_scope)
        and c.course_type = #{courseType}
    </select>

    <select id="selectcourseSize" resultType="java.lang.Integer">
        SELECT
        COUNT( id )
        FROM
        edu_course
        WHERE
        course_type = #{courseType}
    </select>

    <select id="selectcourse" resultType="com.esmooc.legion.edu.entity.vo.HomePageVO">
        SELECT
        course_title as courseTitle,
        (
        SELECT
        COUNT( user_id )
        FROM
        edu_learning_record
        WHERE
        study_type = 2
        AND course_type = course_type
        and id = course_id
        ) as num
        FROM
        edu_course
        WHERE
        course_type = #{courseType}
        ORDER BY
        create_time DESC
        LIMIT 0,10
    </select>

    <select id="selectcourse1" resultType="com.esmooc.legion.edu.entity.vo.HomePageVO">
        SELECT
        course_title as courseTitle,
        (
        SELECT
        COUNT( user_id )
        FROM
        edu_learning_record
        WHERE
        study_type = 2
        AND course_type = course_type
        and id = course_id
        ) as num,
        update_time as updateTime
        FROM
        edu_course
        WHERE
        course_type = #{courseType}
        AND FIND_IN_SET(
        #{learningScope},
        learning_scope)
        ORDER BY
        create_time DESC
        LIMIT 0,10
    </select>

    <select id="selectcourseVideoPeriod" resultType="String">
        SELECT
        ROUND(SUM(c.period), 1) as time
        FROM
        edu_course c
        LEFT JOIN edu_learning_record lr ON c.id = lr.course_id
        LEFT JOIN legion.t_user u ON u.id = lr.user_id
        WHERE
        lr.study_type = 2
        AND c.course_type = 1
        AND lr.user_id = #{userId}
    </select>

    <select id="selectcoursePdfPeriod" resultType="com.esmooc.legion.edu.entity.vo.StuPdfCourseVO">
        SELECT
        SUM(a.`time`) as pdfTime
        from
        (
        SELECT
        DISTINCT lr.course_id,
        `time`
        FROM
        edu_course c
        LEFT JOIN edu_learning_record lr ON c.id = lr.course_id
        LEFT JOIN edu_learning_record_file lrf ON lrf.course_id = c.id
        AND lrf.course_id = lr.course_id
        AND lr.user_id = lrf.user_id
        LEFT JOIN legion.t_user u ON u.id = lr.user_id and u.id = lrf.user_id
        WHERE
        lr.study_type = 2
        AND c.course_type = 2
        AND lr.user_id = #{userId}
        ) a
    </select>

    <select id="selectCoursePage" resultMap="BaseResultMap">

        SELECT DISTINCT
        c.id,
        c.course_title,
        c.`subject`,
        c.speciality,
        c.exam,
        round( c.period, 1 ) AS period,
        c.learning_scope,
        c.course_type,
        c.create_time,
        c.update_time,
        c.del_flag,
        IF
        ( eqb.clazz_id IS NULL, 0, 1 ) AS questionBank,
        IF
        ( c.exam_issue IS NULL, 0, c.exam_issue ) AS questions
        FROM
        edu_course c
        LEFT JOIN edu_exam_question_bank eqb ON eqb.clazz_id = c.id
        LEFT JOIN edu_exam_paper_rules eqr ON eqr.clazz_id = c.id

        <where>
            <if test="course.courseTitle != null  and course.courseTitle != ''"> and course_title like concat('%', #{courseTitle}, '%')</if>
            <if test="course.subject != null  and course.subject != ''"> and
                <foreach collection="course.subject.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    c.`subject`)
                </foreach>
            </if>
            <if test="course.speciality != null  and course.speciality != ''"> and
                <foreach collection="course.speciality.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    c.speciality)
                </foreach>
            </if>

            <if test="course.learningScope != null  and course.learningScope != ''"> and
                <foreach collection="course.learningScope.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    c.learning_scope)
                </foreach>
            </if>
            <if test="course.courseType != null  and course.courseType != ''"> and course_type = #{course.courseType}</if>
            <if test="course.questionBank != null  and course.questionBank != ''"> and
                <foreach collection="course.questionBank.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    IF
                    ( eqb.clazz_id IS NULL, 0, 1 ))
                </foreach>
            </if>
            <if test="course.questions != null  and course.questions != ''"> and
                <foreach collection="course.questions.split(',')" item="item" index="index" open="(" separator="or" close=")">
                    FIND_IN_SET(
                    '${item}',
                    IF
                    ( c.exam_issue IS NULL, 0, c.exam_issue ))
                </foreach>
            </if>
        </where>
        ORDER BY update_time DESC
    </select>
</mapper>
