<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.open.mapper.CourseFileMapper">
    <resultMap type="com.esmooc.legion.open.entity.CourseFile" id="BizCourseFileResult">
        <result property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileType" column="file_type"/>
        <result property="name" column="name"/>
        <result property="courseId" column="course_id"/>
        <result property="number" column="number"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectBizCourseFileVo">
        select id,
               file_name,
               file_type,
               `name`,
               course_id,
               `number`,
               create_by,
               create_time,
               del_flag
        from edu_course_file
    </sql>

    <select id="selectBizCourseFileList" parameterType="com.esmooc.legion.open.entity.CourseFile"
            resultMap="BizCourseFileResult">
        <include refid="selectBizCourseFileVo"/>
        <where>
            <if test="courseFile.fileName != null  and courseFile.fileName != ''">
                and file_name like concat('%', #{courseFile.fileName}, '%')
            </if>
            <if test="courseFile.fileType != null">
                and file_type = #{courseFile.fileType}
            </if>
            <if test="courseFile.name != null  and courseFile.name != ''">
                and name like concat('%', #{courseFile.name}, '%')
            </if>
            <if test="courseFile.courseId != null  and courseFile.courseId != ''">
                and course_id = #{courseFile.courseId}
            </if>
            <if test="courseFile.number != null  and courseFile.number != ''">
                and number = #{courseFile.number}
            </if>
            <if test="courseFile.delFlag != null  and courseFile.delFlag != ''">
                and del_flag = #{courseFile.delFlag}
            </if>
        </where>
        ORDER BY `number`, create_time
    </select>

    <select id="selectBizCourseFileById" parameterType="String" resultMap="BizCourseFileResult">
        <include refid="selectBizCourseFileVo"/>
        where id = #{id}
    </select>

    <select id="selectBizCourseFileNameById" resultType="java.lang.String">
        select file_name from edu_course_file
        <where>
            course_id = #{courseId} and del_flag = 0
        </where>
    </select>

    <select id="selectBizCourseFile" resultMap="BizCourseFileResult">
        select file_name from edu_course_file
        <where>
            course_id = #{courseId}
        </where>
    </select>

    <insert id="insertBizCourseFile" parameterType="com.esmooc.legion.open.entity.CourseFile">
        insert into edu_course_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="fileName != null">
                #{fileName},
            </if>
            <if test="fileType != null">
                #{fileType},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="courseId != null">
                #{courseId},
            </if>
            <if test="number != null">
                #{number},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
        </trim>
    </insert>

    <update id="updateBizCourseFile" parameterType="com.esmooc.legion.open.entity.CourseFile">
        update edu_course_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null">
                file_name = #{fileName},
            </if>
            <if test="fileType != null">
                file_type = #{fileType},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateBizCourseFilesNumber">
        update edu_course_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null">
                number = #{number},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizCourseFileById" parameterType="String">
        delete from edu_course_file where id = #{id}
    </delete>

    <delete id="deleteBizCourseFileByIds" parameterType="String">
        delete from edu_course_file where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteBizCourseFileByCourseIdANDDelFlag">
        delete from edu_course_file where course_id = #{courseId} and del_flag = #{delFlag} and file_type = #{fileType}
    </delete>
</mapper>
