<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.edu.mapper.CourseFileMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.edu.entity.CourseFile">
    <!--@mbg.generated-->
    <!--@Table edu_course_file-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_type" jdbcType="INTEGER" property="fileType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, file_name, file_type, `name`, course_id, `number`, create_by, create_time, del_flag,
    update_time, update_by,url
  </sql>


  <sql id="selectCourseFile">
    select id,
           file_name,
           file_type,
           `name`,
           course_id,
           `number`,
           create_by,
           create_time,
           del_flag
    from edu_course_file
  </sql>

  <select id="selectBizCourseFileList" parameterType="com.esmooc.legion.edu.entity.CourseFile"
          resultMap="BaseResultMap">
    <include refid="selectCourseFile"/>
    <where>
      <if test="courseFile.fileName != null  and courseFile.fileName != ''">
        and file_name like concat('%', #{courseFile.fileName}, '%')
      </if>
      <if test="courseFile.fileType != null">
        and file_type = #{courseFile.fileType}
      </if>
      <if test="courseFile.name != null  and courseFile.name != ''">
        and name like concat('%', #{courseFile.name}, '%')
      </if>
      <if test="courseFile.courseId != null  and courseFile.courseId != ''">
        and course_id = #{courseFile.courseId}
      </if>
      <if test="courseFile.number != null  and courseFile.number != ''">
        and number = #{courseFile.number}
      </if>
      <if test="courseFile.delFlag != null  and courseFile.delFlag != ''">
        and del_flag = #{courseFile.delFlag}
      </if>
    </where>
    ORDER BY `number`, create_time
  </select>


  <select id="selectBizCourseFile" resultMap="BaseResultMap">
    select file_name from edu_course_file
    <where>
      course_id = #{courseId}
    </where>
  </select>

</mapper>
