<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.edu.mapper.ExamPaperMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.edu.entity.ExamPaper">
    <!--@mbg.generated-->
    <!--@Table edu_exam_paper-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="clazz_id" jdbcType="VARCHAR" property="clazzId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="grade" jdbcType="DOUBLE" property="grade" />
    <result column="is_pass" jdbcType="INTEGER" property="isPass" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="major_id" jdbcType="VARCHAR" property="majorId" />
    <result column="clazz_name" jdbcType="VARCHAR" property="clazzName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.esmooc.legion.edu.entity.ExamPaper">
    <!--@mbg.generated-->
    <!--@Table edu_exam_paper-->
    <result column="history_question" jdbcType="LONGVARCHAR" property="historyQuestion" />
    <result column="certificate" jdbcType="LONGVARCHAR" property="certificate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, clazz_id, user_id, grade, is_pass, create_time, is_delete, `type`, major_id,
    clazz_name, update_time, create_by, update_by, del_flag,user_type
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    history_question, certificate
  </sql>
</mapper>
