<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.edu.mapper.ExamQuestionMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.edu.entity.ExamQuestion">
    <!--@mbg.generated-->
    <!--@Table edu_exam_question-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="clazz_id" jdbcType="VARCHAR" property="clazzId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="major_id" jdbcType="VARCHAR" property="majorId" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.esmooc.legion.edu.entity.ExamQuestion">
    <!--@mbg.generated-->
    <!--@Table edu_exam_question-->
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="options" jdbcType="LONGVARCHAR" property="options" />
    <result column="answers" jdbcType="LONGVARCHAR" property="answers" />
    <result column="analysis" jdbcType="LONGVARCHAR" property="analysis" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, clazz_id, `type`, is_delete, create_time, create_user, major_id, bank_id
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    title, `options`, answers, analysis
  </sql>
</mapper>
