<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.edu.mapper.PaperRulesMapper">
    <select id="paperRulesList" resultType="com.esmooc.legion.edu.entity.vo.ExamPaperRulesVo">
        select
        bepr.id as 'id',
        bepr.clazz_id as 'clazzId',
        bc.course_title as 'clazzName',
        bepr.create_time as 'createTime',
        bepr.create_by as 'createBy',
        su.nickname as 'createName',
        bepr.rules as 'rules',
        0 as 'questionCount',
        0 as 'radioCount',
        0 as 'checkboxCount',
        0 as 'gradeCount',
        0 as 'gradePass'
        from
        edu_exam_paper_rules bepr
        left join
        edu_course bc
        on
        bepr.clazz_id = bc.id
        left join
        legion.t_user su
        on
        su.id = bepr.create_by
        <where>
            <if test="clazzName != null and clazzName != ''">
                bc.course_title like concat('%', #{clazzName}, '%')
            </if>
        </where>
        order by
        bepr.create_time desc
    </select>

    <select id="getQuestionCountByClazzIdType" resultType="java.lang.Integer">
        select count(*)
        from
        edu_exam_question
        where
        clazz_id = #{id}
        and
        type = #{type}
    </select>

    <delete id="deleteRulesById">
        delete from edu_exam_paper_rules where id = #{id}
    </delete>

    <delete id="deleteRulesByClazzId">
        delete from edu_exam_paper_rules where clazz_id = #{clazzId}
    </delete>

    <insert id="saveRules">
        insert into
        edu_exam_paper_rules
        set
        id = #{id},
        clazz_id = #{clazzId},
        rules = #{rules},
        create_time = #{createTime},
        create_by = #{createBy},
        bank_id = #{bankId}
    </insert>

    <select id="getRulesById" resultType="java.lang.String">
        select
        rules
        from
        edu_exam_paper_rules
        where
        id = #{id}
    </select>

    <select id="getRulesByClazzId" resultType="java.lang.String">
        select
        rules
        from
        edu_exam_paper_rules
        where
        clazz_id = #{clazzId}
        order by
        create_time
        desc
        limit 1
    </select>

    <select id="getClazzIdByPaperId" resultType="java.lang.String">
        select
        clazz_id
        from
        edu_exam_paper
        where
        id = #{paperId}
    </select>

    <select id="getClazzMajorById" resultType="java.lang.String">
        select
        subject
        from
        edu_course
        where
        id = #{clazzId}
        limit 1
    </select>

    <select id="getClazzNameById" resultType="java.lang.String">
        select
        course_title
        from
        edu_course
        where
        id = #{clazzId}
        limit 1
    </select>

    <select id="getBankIdByClazzId" resultType="java.lang.String">
        select
        bank_id
        from
        edu_exam_paper_rules
        where
        clazz_id = #{id}
        order by
        create_time
        desc
        limit 1
    </select>

    <select id="getExamClazzId" resultType="java.lang.String">
        select
        bank_id
        from
        edu_exam
        where
        id = #{id}
    </select>
</mapper>
