<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.pacs.mapper.InstanceMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.pacs.entity.Instance">
    <!--@mbg.generated-->
    <!--@Table p_instance-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="kvp" jdbcType="VARCHAR" property="kvp" />
    <result column="rows" jdbcType="INTEGER" property="rows" />
    <result column="columns" jdbcType="INTEGER" property="columns" />
    <result column="image_type" jdbcType="VARCHAR" property="imageType" />
    <result column="frame_index" jdbcType="VARCHAR" property="frameIndex" />
    <result column="status_code" jdbcType="INTEGER" property="statusCode" />
    <result column="sop_class_UID" jdbcType="VARCHAR" property="sopClassUid" />
    <result column="storage_path" jdbcType="VARCHAR" property="storagePath" />
    <result column="window_width" jdbcType="VARCHAR" property="windowWidth" />
    <result column="exposure_time" jdbcType="INTEGER" property="exposureTime" />
    <result column="pixel_spacing" jdbcType="DOUBLE" property="pixelSpacing" />
    <result column="window_center" jdbcType="VARCHAR" property="windowCenter" />
    <result column="slice_location" jdbcType="DOUBLE" property="sliceLocation" />
    <result column="thumbnail_path" jdbcType="VARCHAR" property="thumbnailPath" />
    <result column="instance_number" jdbcType="INTEGER" property="instanceNumber" />
    <result column="slice_thickness" jdbcType="DOUBLE" property="sliceThickness" />
    <result column="sop_instance_UID" jdbcType="VARCHAR" property="sopInstanceUid" />
    <result column="content_date_time" jdbcType="TIMESTAMP" property="contentDateTime" />
    <result column="xray_tube_current" jdbcType="INTEGER" property="xrayTubeCurrent" />
    <result column="series_instance_UID" jdbcType="VARCHAR" property="seriesInstanceUid" />
    <result column="transfer_syntax_UID" jdbcType="VARCHAR" property="transferSyntaxUid" />
    <result column="acquisition_date_time" jdbcType="TIMESTAMP" property="acquisitionDateTime" />
    <result column="media_storage_sop_instance_UID" jdbcType="TIMESTAMP" property="mediaStorageSopInstanceUid" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, kvp, `rows`, `columns`, image_type, frame_index, status_code, sop_class_UID, 
    storage_path, window_width, exposure_time, pixel_spacing, window_center, slice_location, 
    thumbnail_path, instance_number, slice_thickness, sop_instance_UID, content_date_time, 
    xray_tube_current, series_instance_UID, transfer_syntax_UID, acquisition_date_time, 
    media_storage_sop_instance_UID, create_by, create_time, update_by, update_time, del_flag, 
    dept_id, tenant_id
  </sql>
</mapper>