<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.pacs.mapper.PatientMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.pacs.entity.Patient">
    <!--@mbg.generated-->
    <!--@Table p_patient-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="pregnancy_status" jdbcType="VARCHAR" property="pregnancyStatus" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sex, `name`, weight, birthday, patient_id, pregnancy_status, create_by, create_time, 
    update_by, update_time, del_flag, dept_id, tenant_id
  </sql>
</mapper>