<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.your.mapper.BreastColorCheckMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.your.entity.check.BreastColorCheck">
    <!--@mbg.generated-->
    <!--@Table breast_color_check-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="checkOrg" property="checkOrg" />
    <result column="checkUser" property="checkUser" />
    <result column="checkDate" property="checkDate" />
    <result column="ADDTIME" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, checkOrg, checkUser, checkDate, ADDTIME
  </sql>
</mapper>