<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esmooc.legion.your.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.esmooc.legion.your.entity.Book">
    <!--@mbg.generated-->
    <!--@Table book-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.esmooc.legion.your.entity.Book">
    <!--@mbg.generated-->
    <!--@Table book-->
    <result column="data" jdbcType="LONGVARCHAR" property="data" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, url
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    `data`
  </sql>
</mapper>
